body {
    font-family: sans-serif ;
    font-size: 14pt;

    margin: 20px;
}

.paddingBottom {
    padding-bottom: 5px;
}

/* -------------------------------------------------- */

.divTable {
    display: block;
    width: auto;
}

.divRow, .headRow {
    display: flex;
    width: auto;

    padding: 10px;
}

.divCell {
    display: flex;
    width: 100%;
}

.divRow {
    border-bottom: 0.2px solid rgb(140, 190, 207);
}

.divRow:nth-child(even) {
    background-color: rgb(235, 240, 240);
}

/* -------------------------------------------------- */

.headRow > div {
    font-weight: 700;
}

.headRow {
    background-color: #a7cacb;
}

.bigHeader {
    font-size: 28pt;
    font-weight: 700;
    text-align: center;
    background-color: #a7cacb;
    
    padding: 0.50rem;
    margin-left: 30%;
    margin-right: 30%;
}

.header {
    font-size: 20pt;
    font-weight: 600;
}

/* -------------------------------------------------- */

.section {
    padding-top: 5px;
    padding-bottom: 5px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.reInput {
    width: 10%;
    padding: 5px;

    border: 0;
}

.inputBorder > select {
    border-bottom: 0.1px solid black;
}

/* -------------------------------------------------- */

.bold {
    font-weight: 500;
}






